# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here: 
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [6]:
pk1 = pokemon[pokemon['Legendary']==True]

le_pk = pk1['Total'].tolist()

pk2 = pokemon[pokemon['Legendary']==False]

nole_pk = pk2['Total'].tolist()

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:


mean_le = np.mean(le_pk)
std_le = np.std(le_pk)

mean_non_le = np.mean(nole_pk)
std_non_le = np.std(nole_pk)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
# Your code here:
lepk= stats.norm.rvs(loc=mean_le,scale=std_le,size=len(le_pk))
lepk

array([600.24133481, 641.44214014, 580.86466913, 598.96366241,
       657.59510374, 699.1876081 , 676.83955505, 544.21372569,
       685.02115179, 747.63237513, 602.12547386, 714.4744022 ,
       624.36389696, 552.65045825, 701.52171671, 672.4518105 ,
       657.13945239, 622.02430879, 654.35125945, 706.80568343,
       681.18869398, 651.27720022, 557.27127499, 814.75892365,
       651.83923812, 644.25821637, 653.83752868, 608.90031124,
       645.85211325, 533.32960549, 696.60214128, 701.80059938,
       726.45290962, 601.56053204, 600.79658216, 628.80621298,
       632.48976481, 684.94656814, 633.84236888, 699.53926081,
       594.6720432 , 643.12885698, 637.31639583, 575.69980861,
       703.3938841 , 722.3099998 , 589.66110859, 641.08812901,
       657.86860653, 640.45366147, 599.94870125, 647.10686755,
       665.71513712, 636.35547118, 646.61360628, 730.1875026 ,
       635.9189731 , 621.3926123 , 642.42630586, 533.73668573,
       662.73542566, 611.7415125 , 620.02830316, 663.44177216,
       602.25290148])

In [9]:
nolepk=stats.norm.rvs(loc=mean_non_le,scale=std_non_le,size=len(nole_pk))

nolepk

array([433.01088285, 301.97571011, 389.4866946 , 308.58903519,
       481.31266725, 298.19612696, 488.07823807, 453.98168201,
       471.8280527 , 363.31942224, 366.93006743, 441.57888315,
       439.51055643, 490.47816979, 329.44296744, 385.6066613 ,
       363.30245651, 236.42092244, 396.98340275, 488.64014505,
       347.89862628, 532.39269638, 375.23562933, 608.00552435,
       334.0262576 , 614.18576979, 565.50766349, 573.55912378,
       359.24016295, 442.41479401, 508.88457171, 342.78205245,
       251.97450758, 520.04708831, 566.58360547, 341.8136332 ,
       491.32343527, 316.78079826, 300.42764206, 362.43858337,
       548.06318098, 481.31548147, 349.92984586, 422.39732151,
       474.06701679, 405.50370383, 552.82523401, 443.87776316,
       381.41818932, 527.96731962, 346.37054177, 451.64211002,
       400.65048975, 332.51738297, 445.56712454, 352.68245119,
       593.29403429, 348.95271364, 450.6144402 , 542.85315923,
       320.26377236, 442.47239872, 552.19574807, 283.70384048,
       304.67497488, 384.55003692, 298.83227199, 509.66811984,
       384.94203484, 509.594197  , 376.82177644, 427.44449144,
       562.36939105, 640.74299969, 366.17005916, 424.30836541,
       488.28628416, 267.69376497, 481.89561898, 210.53207857,
       374.23614113, 357.36234181, 385.95631895, 563.28339268,
       439.68285256, 545.53480104, 588.07881755, 409.88559608,
       545.0198297 , 220.80571044, 377.77146981, 241.48428017,
       466.84016855, 319.20267809, 259.01214423, 587.9995712 ,
       542.66091081, 428.20639188, 417.77940377, 399.51230851,
       438.20629288, 642.73401861, 342.39029994, 357.13364669,
       440.97885628, 522.4206997 , 375.40523901, 619.02937112,
       454.25914512, 523.53019997, 504.68290291, 328.68316277,
       422.89000247, 339.87140391, 557.81537953, 491.76395534,
       512.12193912, 449.41379096, 325.86821873, 486.8836386 ,
       470.42041517, 456.90550364, 427.67058237, 352.89696002,
       508.86780894, 572.58295417, 424.83678886, 302.87007812,
       315.55544887, 257.50447546, 646.04636954, 418.41961257,
       398.54919069, 536.55816625, 255.27552029, 482.70840594,
       412.67127684, 345.22316912, 643.43794788, 269.48574791,
       504.86868363, 515.08842913, 364.76786505, 426.61872671,
       384.04084481, 229.12617694, 360.99285765, 478.5755886 ,
       501.2926431 , 482.31258047, 377.5323747 , 456.41584084,
       476.96372348, 449.8145841 , 476.89468567, 471.35377608,
       545.30740912, 308.06235898, 372.12866101, 295.03829572,
       335.95619709, 571.53982655, 556.66875353, 421.55183066,
       367.71409015, 330.77609731, 255.6216306 , 368.69399222,
       662.0156281 , 577.78921762, 268.21687144, 194.76276329,
       298.45236661, 355.87099964, 460.12943545, 529.43201098,
       296.47799911, 634.88898428, 224.99776952, 472.05099356,
       494.36712497, 346.53072674, 267.78431149, 506.05190686,
       499.79916976, 403.73774386, 375.52367419, 511.94584599,
       363.24226815, 379.78780114, 406.98213536, 484.75842333,
       588.29649272, 387.42616177, 332.31931188, 432.47341643,
       331.24445656, 329.71776328, 393.33815872, 427.40667263,
       344.06942203, 297.91900728, 447.56538078, 392.44519108,
       406.19021993, 401.80337078, 486.31343097, 246.49106146,
       564.31578702, 198.98018028, 477.91557759, 279.26965852,
       377.70643857, 258.49837185, 403.72209138, 330.29318596,
       380.19537222, 422.99036219, 419.64659529, 357.2667411 ,
       473.93996909, 508.89748045, 444.34182393, 449.25209247,
       489.75496654, 461.66737677, 542.197318  , 497.47761871,
       303.82218109, 669.86783616, 397.91940864, 350.98105811,
       654.18886902, 452.90880621, 385.74435238, 734.785847  ,
       502.26341261, 303.84930373, 422.02987418, 557.91930322,
       439.42716604, 565.57478834, 258.25267887, 314.07497646,
       430.76876486, 551.68490905, 356.48063509, 503.7178374 ,
       474.38986236, 490.46852455, 424.04490645, 519.99202894,
       159.19635671, 386.27490482, 589.88186189, 401.95618406,
       408.2033313 , 328.16955418, 222.71790156, 336.46298323,
       277.1265422 , 207.09882883, 329.15085643, 285.76862953,
       634.12735069, 482.30878974, 488.94364889, 398.96762192,
       529.90462761, 198.78971542, 436.7374352 , 521.26196751,
       388.09148402, 366.65436031, 610.77217128, 541.04100496,
       350.52811869, 425.1393367 , 512.58323802, 434.69699675,
       444.73403587, 504.65089941, 445.32688676, 544.28598129,
       410.78525186, 309.87933944, 297.07336308, 408.57767281,
       389.04909292, 335.98173261, 350.73756542, 465.31178199,
       510.89244694, 360.37185995, 469.97800758, 383.7707204 ,
       325.03030258, 312.47271031, 286.97862322, 362.14099584,
       386.67345191, 336.2181124 , 426.70972002, 232.30238345,
       409.07492334, 423.76894559, 133.93947517, 476.69319175,
       432.75098981, 427.00210407, 486.51693247, 260.26891197,
       524.50013167, 413.29848212, 402.93139157, 281.63894426,
       299.17767937, 516.72002058, 443.21221164, 236.15204528,
       602.2399011 , 482.25888109, 460.19413059, 415.62028572,
       436.4718239 , 332.25848121, 453.36155565, 319.39412155,
       369.37626045, 488.42781843, 432.97259014, 371.34854035,
       374.06325932, 329.43409763, 390.00417751, 389.18716465,
       268.92009066, 421.03419996, 311.7409051 , 333.71755196,
       411.30207431, 470.59836858, 549.38540056, 396.5090881 ,
       444.23115042, 585.63574188, 332.78777721, 320.19466077,
       279.62773992, 590.180995  , 495.56755862, 440.36598941,
       440.15248888, 314.4822097 , 491.84243628, 436.08598431,
       524.64247642, 599.17117769, 231.70177327, 433.18984696,
       599.35111781, 510.87206736, 256.67423795, 402.87762277,
       601.38891223, 302.9194831 , 438.09143867, 356.16639004,
       303.97277956, 300.89920532, 372.5657598 , 312.39481904,
       462.38575743, 518.16252509, 791.8851986 , 486.49864091,
       318.18197694, 363.34682773, 294.51207281, 423.39367647,
       621.1138356 , 543.05275369, 542.0923039 , 488.99100117,
       449.72841467, 270.41012416, 192.92132883, 464.28897759,
       470.56005046, 528.34570961, 395.0068176 , 376.99528264,
       486.87037715, 360.88288483, 426.81198895, 168.03483384,
       411.16659696, 447.78116949, 239.59559199, 417.00592232,
       291.24690073, 528.78789142, 537.32270478, 380.38783848,
       309.07700825, 476.40073585, 494.29978779, 549.67132348,
       100.41576827, 540.62337695, 542.07855652, 606.17533369,
       390.5658572 , 395.31439567, 197.75576273, 474.22385726,
       428.95672005, 566.84812856, 333.56530829, 350.72179511,
       481.52911681, 490.58300634, 478.13437867, 425.59596824,
       534.18658736, 531.76655696, 460.37544056, 385.80714463,
       405.01786079, 471.05441035, 458.34432933, 349.80657506,
       519.30795032, 456.81763993, 250.29216385, 359.57395096,
       347.07407128, 414.00309161, 523.97776166, 396.96902606,
       363.84830898, 427.05506382, 440.73016272, 310.53578464,
       519.7076326 , 426.65268166, 477.46891559, 419.02876097,
       354.00804304, 482.28123129, 362.737559  , 494.28485581,
       266.34264176, 292.7315847 , 384.10567683, 444.34613661,
       461.90627922, 436.32369346, 348.05580578, 336.36465157,
       468.97423307, 449.98552013, 635.31959501, 430.16100212,
       439.85076943, 403.58296001, 294.96029061, 497.33060372,
       517.16220717, 366.51339905, 441.44622102, 438.78867836,
       434.22632195, 510.63432507, 299.25777012, 251.11182252,
       443.25986779, 448.54710013, 427.46824304, 277.00360857,
       583.81018365, 421.44304635, 528.15903911, 355.93626705,
       284.46034649, 323.37896597, 378.2455385 , 368.15735829,
       264.63855889, 288.26690419, 372.46635016, 470.97322488,
       311.05967102, 520.27090104, 385.48707793, 275.58445299,
       394.16272344, 437.96079983, 265.57010453, 610.6852701 ,
       702.76648077, 449.86943552, 578.30804702, 219.71038668,
       386.35675028, 325.46331057, 365.91467374, 394.2232155 ,
       446.20146149, 313.88749156, 532.12947625, 389.67540569,
       486.81503472, 479.88893281, 547.35801081, 295.42032377,
       297.92136691, 405.10761097, 366.35483425, 354.35859668,
       351.7949925 , 269.03383588, 380.29233753, 502.15006606,
       231.15609225, 415.49905339, 323.63432754, 422.4377092 ,
       302.62114939, 520.98529108, 413.23918354, 422.70598193,
       238.24217525, 436.40806919, 396.70309339, 441.19506742,
       471.81436137,  84.82303211, 206.34568075, 517.14858914,
       430.81171662, 357.20336952, 407.27169731, 382.89121786,
       598.09938963, 664.53227325, 347.14482838, 368.05043696,
       340.68875333, 671.42674005, 519.14175139, 496.89174975,
       405.997975  , 456.6279087 , 500.92472304, 491.34449702,
       409.72511384, 302.0497811 , 615.19903192, 380.96755862,
       462.90772695, 512.01885254, 495.85708409, 388.77968609,
       286.91108745, 197.08052817, 425.87525873, 413.32877068,
       485.33861479, 603.41099292, 340.94281229, 317.21484017,
       430.68084591, 446.76916919, 224.69372353, 408.12146299,
       496.76204448, 287.46330041, 349.72082278, 164.68259735,
       453.96096849, 425.44502173, 469.44163038, 553.60091518,
       284.45268279, 211.16435637, 432.94849086, 625.00584425,
       484.41955689, 350.4241242 , 363.75812421, 435.18552021,
       501.36929151, 426.8757554 , 285.0928444 , 396.06974713,
       374.94723978, 490.3475444 , 426.4215492 , 443.40297041,
       431.44788405, 451.526008  , 148.90145398, 301.80373074,
       444.73247375, 405.94869431, 493.74058857, 485.20232262,
       421.10930495, 493.92488577, 606.08009852, 486.52411354,
       340.8529645 , 629.07513983, 523.59661129, 420.73597973,
       487.23607635, 355.15386331, 412.5434853 , 471.17948292,
       252.95230849, 569.72726553, 288.67137463, 481.92372852,
       284.6564969 , 191.30441291, 409.48402223, 296.12305428,
       185.65355182, 362.05473211, 424.86040448, 341.23673612,
       519.30273206, 181.5462141 , 273.45064022, 338.20675285,
       266.42639286, 464.18276046, 542.02035882, 416.48592564,
       445.61522759, 544.81239755, 489.56421131, 576.64511765,
       478.47067717, 235.72426648, 458.2183477 , 583.62962349,
       269.93503355, 371.68721812, 225.43990637, 589.30852277,
       391.41404392, 476.8337641 , 478.70684607, 435.43407613,
       241.07779822, 429.69767762, 363.01010835, 350.36652455,
       412.99809418, 444.21091776, 293.69827808, 482.34724939,
       400.03093332, 416.04240019, 260.02114062, 346.92833294,
       426.81675747, 608.30291851, 528.45920225, 306.41635866,
       587.07800174, 552.45865539, 490.27268728, 490.05189364,
       263.86089771, 135.89359553, 300.38300494, 639.96331319,
       379.0194163 , 354.38487847, 445.38545415, 580.0735032 ,
       356.30711835, 374.05233956, 411.16051729, 387.84006544,
       457.00249295, 317.29318694, 345.48550219, 438.5775398 ,
       362.49666852, 626.91369984, 208.6538538 , 506.87037448,
       487.29299921, 582.01442301, 339.95274824, 281.16943486,
       467.79049686, 540.98692252, 464.40590269, 342.8854163 ,
       435.85549376, 486.60509277, 276.47282071, 275.60115166,
       423.04948136, 534.15280767, 472.97466467, 304.92025764,
       458.27581466, 509.61596885, 273.94647066, 248.32233284,
       187.70667911, 451.25204635, 458.43478647, 625.18511061,
       333.18821149, 457.78391654, 456.58910114, 496.00833814,
       345.09463112, 435.15409284, 577.40990518, 311.98864697,
       381.67393368, 487.49492532, 266.49182576, 488.72942631,
       525.95284954, 360.59982365, 386.81185119])

In [10]:
stats.ttest_ind(lepk,nolepk, equal_var = False)

Ttest_indResult(statistic=29.930139870077895, pvalue=1.0060402202040687e-56)

What do you conclude from this test? Write your conclusions below.

In [11]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [12]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [13]:
# Your code here:
type_water=pokemon[pokemon['Type 1']== 'Water']
type_water

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [14]:
water = type_water['Total']
water = water.tolist()

water

[314,
 405,
 530,
 630,
 320,
 500,
 300,
 385,
 510,
 335,
 515,
 315,
 490,
 590,
 325,
 475,
 305,
 525,
 325,
 475,
 295,
 440,
 320,
 450,
 340,
 520,
 200,
 540,
 640,
 535,
 525,
 314,
 405,
 530,
 330,
 460,
 250,
 420,
 500,
 210,
 430,
 490,
 430,
 380,
 300,
 480,
 465,
 540,
 580,
 310,
 405,
 535,
 635,
 220,
 340,
 480,
 270,
 430,
 305,
 460,
 560,
 400,
 500,
 288,
 468,
 308,
 468,
 200,
 540,
 345,
 485,
 485,
 485,
 330,
 670,
 770,
 314,
 405,
 530,
 330,
 495,
 325,
 475,
 330,
 460,
 345,
 680,
 480,
 600,
 308,
 413,
 528,
 316,
 498,
 294,
 384,
 509,
 460,
 355,
 495,
 305,
 473,
 335,
 480,
 470,
 580,
 580,
 314,
 405,
 530,
 330,
 500]

In [15]:
type_others = pokemon[pokemon['Type 1'] != 'Water']

type_others

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [16]:
others = type_others['Total']

others = others.tolist()

others

[318,
 405,
 525,
 625,
 309,
 405,
 534,
 634,
 634,
 195,
 205,
 395,
 195,
 205,
 395,
 495,
 251,
 349,
 479,
 579,
 253,
 413,
 262,
 442,
 288,
 438,
 320,
 485,
 300,
 450,
 275,
 365,
 505,
 273,
 365,
 505,
 323,
 483,
 299,
 505,
 270,
 435,
 245,
 455,
 320,
 395,
 490,
 285,
 405,
 305,
 450,
 265,
 405,
 290,
 440,
 305,
 455,
 350,
 555,
 310,
 400,
 500,
 590,
 305,
 405,
 505,
 300,
 390,
 490,
 300,
 390,
 495,
 410,
 500,
 325,
 465,
 352,
 310,
 460,
 325,
 500,
 310,
 405,
 500,
 600,
 385,
 328,
 483,
 330,
 480,
 325,
 520,
 320,
 425,
 455,
 455,
 385,
 340,
 490,
 345,
 485,
 450,
 435,
 490,
 590,
 460,
 500,
 455,
 490,
 495,
 500,
 600,
 490,
 288,
 325,
 525,
 525,
 395,
 355,
 495,
 355,
 495,
 515,
 615,
 540,
 580,
 580,
 580,
 300,
 420,
 600,
 680,
 780,
 780,
 600,
 318,
 405,
 525,
 309,
 405,
 534,
 215,
 415,
 262,
 442,
 265,
 390,
 250,
 390,
 535,
 205,
 218,
 210,
 245,
 405,
 320,
 470,
 280,
 365,
 510,
 610,
 490,
 410,
 250,
 340,
 460,
 360,
 180,
 425,
 390,
 525,
 525,
 405,
 435,
 336,
 405,
 455,
 290,
 465,
 415,
 430,
 510,
 610,
 300,
 450,
 500,
 600,
 505,
 500,
 600,
 430,
 330,
 500,
 250,
 410,
 250,
 450,
 330,
 465,
 330,
 500,
 600,
 330,
 500,
 515,
 465,
 250,
 210,
 455,
 305,
 360,
 365,
 490,
 540,
 580,
 580,
 300,
 410,
 600,
 700,
 680,
 680,
 600,
 310,
 405,
 530,
 630,
 310,
 405,
 530,
 630,
 220,
 420,
 240,
 420,
 195,
 205,
 395,
 205,
 385,
 220,
 340,
 480,
 270,
 430,
 198,
 278,
 518,
 618,
 269,
 414,
 295,
 460,
 280,
 440,
 670,
 266,
 456,
 236,
 240,
 360,
 490,
 237,
 474,
 190,
 375,
 260,
 380,
 380,
 480,
 380,
 480,
 330,
 430,
 530,
 630,
 280,
 410,
 510,
 295,
 475,
 575,
 405,
 405,
 400,
 400,
 400,
 302,
 467,
 305,
 460,
 560,
 470,
 330,
 470,
 360,
 290,
 340,
 520,
 335,
 475,
 310,
 490,
 590,
 458,
 458,
 440,
 440,
 300,
 500,
 355,
 495,
 355,
 495,
 420,
 440,
 295,
 455,
 555,
 295,
 455,
 460,
 425,
 465,
 565,
 260,
 300,
 480,
 580,
 290,
 410,
 530,
 300,
 420,
 600,
 700,
 300,
 420,
 600,
 700,
 580,
 580,
 580,
 600,
 700,
 600,
 700,
 670,
 770,
 680,
 780,
 600,
 600,
 600,
 600,
 600,
 318,
 405,
 525,
 309,
 405,
 534,
 245,
 340,
 485,
 250,
 410,
 194,
 384,
 263,
 363,
 523,
 280,
 515,
 350,
 495,
 350,
 495,
 224,
 424,
 424,
 424,
 424,
 244,
 474,
 405,
 275,
 450,
 482,
 348,
 498,
 350,
 480,
 580,
 495,
 505,
 310,
 452,
 285,
 329,
 479,
 300,
 500,
 290,
 310,
 220,
 411,
 485,
 300,
 410,
 600,
 700,
 390,
 285,
 525,
 625,
 330,
 525,
 330,
 500,
 300,
 490,
 454,
 334,
 494,
 594,
 510,
 535,
 515,
 535,
 535,
 540,
 540,
 545,
 515,
 525,
 525,
 510,
 530,
 535,
 518,
 618,
 525,
 525,
 480,
 440,
 520,
 520,
 520,
 520,
 520,
 580,
 580,
 580,
 680,
 600,
 670,
 680,
 680,
 600,
 600,
 600,
 600,
 720,
 600,
 308,
 413,
 528,
 308,
 418,
 528,
 255,
 420,
 275,
 370,
 500,
 281,
 446,
 316,
 498,
 316,
 498,
 292,
 487,
 264,
 358,
 488,
 295,
 497,
 280,
 390,
 515,
 313,
 425,
 328,
 508,
 445,
 545,
 305,
 405,
 505,
 465,
 465,
 310,
 380,
 500,
 260,
 360,
 485,
 280,
 480,
 280,
 480,
 292,
 351,
 519,
 315,
 480,
 540,
 461,
 325,
 475,
 348,
 488,
 490,
 303,
 483,
 401,
 567,
 329,
 474,
 330,
 510,
 300,
 470,
 290,
 390,
 490,
 290,
 370,
 490,
 305,
 395,
 535,
 335,
 475,
 428,
 315,
 495,
 294,
 464,
 319,
 472,
 305,
 489,
 300,
 440,
 520,
 275,
 405,
 515,
 335,
 485,
 275,
 370,
 520,
 320,
 410,
 540,
 305,
 485,
 485,
 305,
 495,
 471,
 350,
 510,
 485,
 303,
 483,
 340,
 490,
 490,
 350,
 510,
 370,
 510,
 484,
 484,
 300,
 420,
 600,
 360,
 550,
 580,
 580,
 580,
 580,
 580,
 580,
 580,
 680,
 680,
 600,
 600,
 660,
 700,
 700,
 600,
 600,
 600,
 313,
 405,
 530,
 307,
 409,
 534,
 237,
 423,
 278,
 382,
 499,
 200,
 213,
 411,
 369,
 507,
 303,
 371,
 552,
 350,
 531,
 348,
 495,
 472,
 355,
 466,
 466,
 325,
 448,
 520,
 520,
 341,
 462,
 341,
 480,
 288,
 482,
 306,
 500,
 320,
 494,
 289,
 481,
 362,
 521,
 362,
 521,
 525,
 500,
 431,
 500,
 300,
 452,
 600,
 470,
 309,
 474,
 335,
 335,
 335,
 335,
 494,
 494,
 494,
 494,
 304,
 514,
 245,
 535,
 680,
 680,
 600,
 600,
 700,
 600,
 680,
 600]

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [17]:
# Your code here:

mean_water = np.mean(water)
mean_water

430.45535714285717

In [18]:
mean_others = np.mean(others)
mean_others

435.85901162790697

In [19]:
std_water = np.std(water)
std_water

112.681828329091

In [20]:
std_others = np.std(others)
std_others

121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [21]:
# Your code here:
from scipy.stats import ttest_1samp
pval = ttest_1samp(others, mean_water)

pval

Ttest_1sampResult(statistic=1.1704893818846211, pvalue=0.24220994453975542)

Write your conclusion below.

In [22]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [23]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [24]:
# Your code here:
attack = pokemon['Attack'].tolist()

mean_a = np.mean(attack)
std_a= np.std(attack)

atk = stats.norm.rvs(loc=mean_a, scale=std_a, size=len(attack))

atk

array([111.68966701,  27.00622941,  58.33167328,  82.20351052,
        31.16516759, 104.73248776,  35.64816456, 123.7114871 ,
        39.24412495, 146.21727811,  72.64749954,  27.75089426,
       113.58092037,  86.19291832,  76.46186181, 120.88286935,
       110.15499798,  93.55396045,  86.99997565,  37.25212135,
        76.63807286,  68.49995057,  55.35258124,  17.82969273,
        90.89763074,  26.09187427,  83.28336407,  65.48553696,
        61.77735832, 124.03555172,  38.31482184, 100.32890602,
        98.2375251 , 121.23838159,  26.90869214,  98.15443302,
        81.82762546, 108.70701588,  62.83236072,  89.53239887,
       105.77699025, 147.65807955,  43.26251432, 136.20975625,
        98.68107662,  58.96481483,  63.90741462, 111.39171584,
        96.31258506, 111.28805277, 123.05902329,  71.04510769,
        62.86530461,  16.05806787,  69.39507473,  64.72551622,
       136.13507599,  99.3369272 ,  96.62728203, 112.07176748,
        99.98789661,  62.95537605,  74.96440822, 117.51065646,
        95.56583232,  76.17533053, 107.27446052,  98.50040375,
        15.7410166 ,  71.4556573 ,  73.85011642,  -3.26423538,
       108.52806934,  35.64762426,  49.89873988,  27.5685171 ,
        56.43778884,  92.41270803,  80.9126755 ,   6.9014871 ,
        86.19393146,  47.20441285,  80.28186316, 118.76333089,
        60.27107085,  76.79444244,  62.84092136,  74.90072071,
        68.97530204, 106.84663936,  90.36628272,  25.62971486,
        69.29988146,  56.75347345, 143.79807232,  74.50879727,
        76.93536463,  60.50471051,  91.33958194,  92.96237677,
       115.56126113,  39.05686183,  34.11747311,  77.05668535,
        92.72175436, 101.50857419,  73.00035616,  50.95036181,
        80.63774066, 116.39231705,  69.46875733,  57.36949124,
        14.85348105,  66.04346964,  42.89684452, 108.28904929,
        35.25431647,  19.43482762,  20.6770066 ,  81.49184162,
        88.53531234,  95.06204965,  61.56755626,  62.63654793,
        46.32862384,  98.26186625,  68.38669976,  49.81850122,
       126.01503756,  49.15146825,  85.8359199 ,  49.55087783,
        72.26061738,  71.55573629,  56.80812108,  92.63458056,
        79.30668742, 107.87869042,  84.96464002, 112.2329676 ,
        96.25742532,  64.73150693,  54.06927542,  80.9926837 ,
       102.92706555,  79.74162344,  46.37326157,  74.6771791 ,
        57.04401946,  75.93241192,  54.94405265,  53.98235383,
       109.50524224, -23.92624375, 142.61371955,  60.99587794,
        77.12728007, 124.11100058, 142.70491874,  86.15008072,
        93.10950706, 112.53023401,  82.09374603,  87.86034009,
        40.14308726, 137.7122317 ,  49.9666217 ,  72.72120466,
        94.19656767,  73.27900557, 101.34856484,  75.73477956,
        86.22855164,  59.62577395, 102.69903966, 115.76303632,
        89.67029617, 109.4864767 ,  33.68398364,  95.42353364,
       104.62695603, 119.97714572, 101.15857154,  97.98214073,
        86.63653379,  91.67069678,  79.27705515,  47.41193023,
       116.82869772,  44.43986952,  85.13672015, 105.37674986,
        93.04920488,  95.45185499,  19.99588885,  27.18085485,
       109.28547868,  31.61614624,  75.09631623,  76.27654963,
        91.28979349,  75.50367722,  78.01434778,  42.49970656,
        57.80597375, 101.70559085,  50.43251325,  91.62955947,
        38.49472269, 142.32069572,  60.28792756,  69.5530436 ,
       145.84413252,  85.62098243, 143.2982833 ,  40.19566707,
        34.6239484 ,  37.73912674,  74.35145092,  99.69990683,
       132.70662812,  95.49645007,  94.62051705,  72.57416401,
        90.83543817, 107.25993793,  92.73438644,  84.31154502,
        97.72360679,  64.81358424,  97.57282139,  41.53940111,
        74.19885693,  93.43041   ,  77.70445398,  96.87038302,
        68.28803819,  72.38161911,  92.06167537, 141.51189175,
        44.63408904,  31.52210312,  95.72859954, 140.26926441,
        49.68350317, 147.83046944,  83.2686257 ,  68.69573752,
        34.24044048,  36.01522158,  42.23976506,  55.9274936 ,
        78.40619113,  38.86413677,  41.62374909,  96.62227569,
        69.88769198,  91.40416425, 105.4104039 ,  74.42071209,
        85.33010126,  42.09057035,  47.10905492,  68.05414474,
        31.48019387,  41.70661852,  56.83034244,  61.31013201,
        54.02787717,  19.88979568,  95.83321618, 128.31585852,
        -1.54414976,  72.95735688, 108.426538  , 111.42009796,
       106.59408904,  47.21970707, 118.21600819, 109.87875892,
       127.43592332, 116.89873907,  77.07250959,  76.74830833,
        91.79940069,  23.67157509, 135.33480555,  97.76050481,
       125.87279052, 101.47522016,  88.55198758,  86.94640681,
        47.7058726 ,  72.39583082, 117.40056915,  85.1146545 ,
       100.88413241, 110.83331699,  75.42965867,  63.559335  ,
       108.2198563 , 160.26001061, 111.39091275, 140.54351716,
        83.07975323,  55.94608771,  51.34059275,  62.58842254,
        53.42540081, 109.63773079,  48.94570963,  49.81035179,
        96.75166536,  86.60073366,  65.97504575,  89.25963217,
       115.55831264, 102.58311053, 115.52223967,  92.03379902,
        82.71891671,  62.82052196,  74.3552723 ,  87.71632508,
        92.39680563, 126.9596968 ,  79.20570189,  58.93031467,
        36.90423361, 117.90761976,  71.85390534, 108.87179528,
        74.33976774,  98.88692073, 116.23869099, 109.61164343,
        95.72727907,  80.89762231,  68.5935014 ,  69.42192825,
       127.47964935,  79.71488931,  29.14414947,  41.35685617,
        33.29137263, 135.55700241,  81.93061877, 110.43264827,
        34.06383088, 152.12612308,  75.12675825, 142.52891565,
        78.55088106,  66.36565094, 119.64708799,  27.4598227 ,
       109.16117115,  55.7057458 ,  94.61995769,  45.92660681,
       115.05690029,  78.50219647,  61.37969625,  48.89003689,
        35.66885124,  65.63491585, 122.92488289, 134.88420363,
       112.19489495, 121.78255941, 122.69643566,  61.64102637,
        88.69887987, 116.68153484, 107.8051765 , 104.85754635,
        66.1294508 , 152.91612731, 117.82768933,  94.06367414,
        75.83916563,  65.73755336,  92.37934691, 104.19034478,
        55.20168398,  75.85523628,  98.24914916,  72.24814182,
        52.82563274,  84.45728737,  57.82745614, 116.99741524,
        94.02359101,  77.64996546,  41.64960445,  39.86607762,
       123.44510341,  53.51952284, 102.77503743,  95.09914035,
        49.73636692,  13.07891233, 119.38789189,  85.25464625,
       190.0475919 ,  85.31505926,  67.45412457,  63.05932776,
        90.37241315,  77.9734808 , 105.56328603,  94.5973571 ,
       128.9613657 , -25.28301965,  81.75254643,  67.47622387,
        96.0920327 ,  45.35678143,  87.47170407,  89.05926476,
        75.94500274,  98.51287478,  41.89439877, 140.47760789,
        76.65544938,  46.95074392,  66.99717247,  70.67471696,
        69.86035331,  72.32530957,  34.32006924,  56.08806424,
       102.30796745,  51.92011754,  53.11028309,  56.38286661,
       111.63665663,  75.73209276, -19.69761793,  74.6204719 ,
        37.41353553, 134.96948406,  80.98379945,  98.45498726,
        84.15623629,  87.00887416,  96.75293415,  64.31673733,
        79.613015  ,  66.89314   ,  82.20821672,  87.94642928,
        26.15087771, 114.3376619 , 109.79988101,  70.83748046,
        83.08417489,  83.22208707,  95.19891412,  85.93334561,
        19.43910032,  40.65352568,  47.40665957, 134.09155194,
        64.07724365,  29.8841796 ,  79.63493741, 102.52926547,
        34.37720071,  96.63093569, 108.30758542,   9.1482504 ,
        88.06992306, 144.85659367,  20.8531383 ,  87.5912699 ,
       114.20186183,  69.22851305,  73.86476763, 212.03214848,
        41.01294701,  60.08441494,  95.1144219 ,  52.85687422,
       100.99424829,  50.95226093,  92.59142647, 128.70103887,
       126.71968652,  82.15825976,  71.36041483,  44.79447558,
        97.58026286,  99.50714882, 123.69893984, 107.41538097,
        66.78650862,  62.14681222,  86.38233543, 143.27048925,
        77.97390549,  72.82639466, 125.4399511 ,  76.35276801,
        31.40963217,  83.32701983, 118.25436988,  78.80693108,
       106.58062376,  49.62399592,  76.71121125,  94.71541703,
        47.48195252,  65.36714496, 163.51666577,  38.72882374,
        37.02826191,  82.23173892,  94.74502217,  78.44071516,
        64.53799144, 111.44611829,  80.71642392,  76.74161516,
        40.0808396 ,  56.56250683, 104.97206935,  46.11811451,
        62.85073995, 109.43276711,  86.80970935,  54.46016479,
        91.57938321,  21.91681609,  21.89883094,  39.05956754,
       118.24285648,  71.64316517,  85.45985036, 114.97892291,
        12.1326594 , 100.44443028,  63.65363013,  75.89301837,
        70.90986735,  85.89067288,  55.38348246,  81.97718501,
        55.40621374,  45.31129505,  46.3530706 ,  20.08106729,
       142.32462897,  63.87657191,  38.63004357,  58.1231971 ,
        75.83301652,  19.01717566,  93.85711899,  84.26976775,
       129.3414387 , 116.86225142,  80.27202311,  57.92012584,
        67.43364549, 104.20811604,  35.23887246, 122.65015611,
       106.18678631,  70.8374998 ,  69.55208397,  51.01777731,
       102.23767085,  84.9283002 ,  56.17030198,  79.24328229,
       118.64648407, 110.13652236,  66.61503602,  91.93839414,
       149.96179377,  64.76655176,  57.76444958,  48.85095675,
       111.26388185,   5.69977074,  97.22625903,  85.25508693,
        82.59109888,  89.95058832, 134.14175817,  48.17423695,
       115.94521926,  48.00230206, 122.15828153,  81.83400283,
        62.36644287,  81.70337558, 116.43218781,  99.68945872,
        82.50069898,  20.59946882,  51.50293627,  76.78081414,
       104.17894645,  76.12796224, 113.15286718,  75.97909001,
       107.60346982,  36.6824381 ,  67.96783821,  88.54599145,
        70.8645653 ,  58.46902325,  53.84907611,  79.9810108 ,
        32.91221788, 108.11803856,  44.51223928,  71.42931803,
        64.37872587,  64.45698726,  91.47920543,  30.73065933,
        53.18304688, 114.52962282,  45.24261529,  24.99166496,
        44.18304934,  67.60108263,  98.4388638 ,  62.5932572 ,
        84.46006858,  24.79722371,  22.13612243,  66.78444478,
        46.90479122,  57.74489758,  44.13113709,  88.80885462,
        55.07193966,  76.83917064,  77.39406199,  58.45362436,
        64.47038963,  91.05473436,  56.53057825, 105.39462379,
       129.08732449, 118.22902958,  85.85756482,  83.8934284 ,
        67.09075016,  79.44264304,  37.50814752,  17.06987957,
        80.67515729,  94.75084417,  21.38399561,  44.42160015,
        57.47765923,  29.12660052,  79.59975673,  49.03183357,
        47.65496909,  64.37492425,  74.13319408,  57.73946945,
       120.08288907, 103.99531387,  15.66381844, 133.89144475,
       104.74242838, 151.16119748,  65.62752785, 122.21629582,
       129.1084934 ,  49.31919345,  91.52508925,  85.38576343,
        89.5758697 ,  26.06959279,  51.77028308,  43.09980956,
        58.9999827 ,  91.60274461,  76.18720842,  43.30028981,
        62.10766227,  74.52134243,  62.73146589, 134.63119429,
        74.20652585,  74.86754715,  62.87791287,  67.65000021,
       105.56687125, 116.7000925 , 156.2629079 , 133.40160232,
        45.26012945, 116.8423061 , -38.40371455,  70.99354031,
        46.81279405,  68.6573001 ,  87.17594963,  38.95755594,
        61.32211376, 116.10911107, -20.57768129,  86.56667249,
        30.01570238, 126.41979658,  72.02936092, 140.33770265,
        45.86159639,  54.33478689, 112.39078992,  53.3043044 ,
        64.00139909,  46.6921116 , 105.6462673 ,  72.49359096,
        86.82668064,  24.15063396, 115.93322448, 129.08012092,
        22.51294787,  50.77774698,  77.40799892,  70.5448565 ,
        56.20036207, 109.63967551,  61.39652707,  47.63545624,
        94.46913873,  62.02054129,  54.19337238,  77.18695681,
        74.59258546,  42.92125495,  74.39769687,  94.18767098,
       100.94216499,  58.48803684, 110.21533738,  65.42250809,
       120.30376815,  51.82620131, 114.32570188,  86.80450207,
        40.35713093,  63.91377324,  43.62322452,  85.22783299,
       136.77657921,  17.27039732,  97.67343623,  44.37422667,
        61.5092616 ,  59.24533498,  84.86395245,  92.64333505,
       112.99688713, 122.56959117, 188.82198563,  88.81835958,
       124.37300079,  68.46685558,  87.04848803,  62.10817653,
        34.3596741 ,  57.56565958,  31.06436247,  93.40913733,
        77.28423176,  40.59337956,  56.24925864,  43.46222177,
        81.55071226,  77.68900381,  55.55958604, 106.0977742 ,
        59.1552561 ,  71.68993851,  67.78711331,  88.63904855,
        84.22486161, 103.2436038 ,  75.94548979, 112.50864659,
        38.73829117,  62.98660175,  62.55018167,  79.65817979,
       136.88540594, 126.99887775, 108.87583245,  50.51790358])

In [25]:
defense = pokemon ['Defense'].tolist()

mean_d = np.mean(defense)
std_d = np.std(defense)

dfs = stats.norm.rvs(loc=mean_d, scale=std_d, size=len(defense))

dfs

array([138.09767333, 106.23851417,  60.99455162,  87.64496779,
        98.05543905,  54.95887375, 119.19510729, 114.96785191,
        35.90112931,  80.64447067,  67.32928229,  63.03338418,
        44.60292971,  99.38293037, 127.80299734,  77.16668002,
        78.73235314,  37.02575552,  56.71865925,  65.08809682,
        89.33938981, 100.66293059,  75.98319467,  77.38722382,
        36.65135375,  98.04071835, 102.37489037,  56.807223  ,
        76.83314763,  76.67920308,  74.62878063,   4.85281032,
        64.50872038,  68.67744946,  64.42678137,  51.08634102,
       109.07922992,  75.51762108,  42.8581182 ,  75.42992552,
        63.99250488,  49.32373618, 100.28379432,  38.93558742,
        99.31806842, 100.72027575,  60.2867081 ,  79.34614525,
        81.06601008,  96.59281764,  25.26738518,  80.91870541,
        68.69605828,  46.28946612, 110.45254032, 116.25179442,
        81.78640358,  97.16946453,  44.45250904,  55.9144594 ,
       123.32625464,  23.91023147,  45.48083949,  80.66841456,
        67.85749838,  93.0465668 ,  75.25145931,  67.02161634,
       108.0548475 ,  49.74349804, 121.43834057,  93.38426594,
       117.51076861,  80.60083629,  54.00987699, 156.52537111,
        99.18225674, 115.63972687,  34.08898094,  68.2934358 ,
       110.86361001,  19.80219939,  84.41605235,   6.70683479,
       130.80142315,  37.35700863,  68.54987852,  84.5346397 ,
        34.81800271,  82.69956712,  67.37824014,  86.52039811,
        55.8291226 ,  73.85818724,  50.3263434 , 104.65145238,
        44.21656285, 106.20697962,  89.51492063,  28.52242964,
        83.08404638,  48.89746145,  98.97029573,  66.61539342,
       108.93805577, 113.12225516, 125.78241962,  80.91742949,
       114.70120125, 171.88857725,  61.75520757, 122.65707642,
       119.88130169,  95.4606362 , 151.22618462,  54.34425262,
        60.83713135,  72.38471914, 114.85335686, 146.18226423,
       103.88311227,  89.68604971,  59.85090725,  99.69271889,
        77.60771519, 100.31422127,  36.34386313,  78.99561487,
        87.25687468,  91.56753446,  65.96497359,  68.68943559,
        97.29223888,  63.22282589,  89.78882241,  66.61625442,
       109.70018826,  92.96589406,  87.12369089,  33.26500395,
        75.55685543,  59.03534103,  46.60677076,  58.47246769,
       121.55264206,  48.46049907,  74.41304459,  48.01136192,
        80.19781214, 119.46252825,  33.13752103,  77.31786241,
        88.3407465 , 152.97434956, 102.60525651,  61.41425404,
        64.68446453,  81.0302855 , 108.77931486,  45.16939524,
        52.19523045,  64.44717802,  63.05886107,  58.39189374,
        53.12146353,  58.48411046,  75.83981225,  64.43947439,
       115.55234063, 108.30007248,  82.6977061 ,  45.0281204 ,
        75.05170343,  91.90561929,  89.69185735,  71.40737684,
        92.61620035,  85.16723626,  72.93656081,  70.31047922,
        91.0344081 , 113.79659975,  74.05983939,  80.63100784,
        66.42441208,  91.32552591, 105.28285294,  55.48925378,
       116.28062687,  25.89187804,  29.40173998,  92.68175511,
        33.79343476,  62.31190396,  44.1772547 ,  60.39380747,
        50.97697429, 125.76241936,  87.72212513, 142.69358953,
        59.82751234, 104.58368903,  58.1456242 ,  16.00476522,
        45.42551256,  73.1888038 ,  12.68777344, 158.35225541,
       128.53679133,  68.12393841,  62.36704049,  93.91541816,
       -10.0316159 , 108.61003122,  43.32912706, 103.5994564 ,
        62.45218767,  48.48139309, 102.69419089,  90.32137306,
        31.84516097, 108.5907497 ,  14.71035128,  83.03969546,
        30.89944323,  62.20225412,  14.42769162,  42.34516682,
       116.15835458,  66.3413036 , 120.43070628,  37.38037322,
        61.04959356,  48.55230249, 131.17541921,  73.21969723,
        96.0354247 ,  18.67039719,  25.69568372,  69.73048258,
        80.99981835,   5.63915871,  89.19110626,  17.98075733,
        57.24882841,  84.8420944 ,  70.36704888,  42.0810019 ,
        48.98096454,  54.52130847,  53.44913604, 122.41743367,
       -23.15589137,  74.11285672,  22.08516715,  33.50249535,
        65.15216696, 129.61793835,  36.62138878,  95.47099788,
        79.17878065,  75.24505022, 118.21075469,  61.65036991,
        70.24135842,  87.74317872,  95.48296007,  98.03196817,
        90.7408016 ,  94.83951441,  76.86240994, 103.45208975,
        55.66691897, 106.13925869,  58.78222466, 122.26355746,
       117.11245464,  72.70057563,  33.79637654,  55.85457537,
       117.35209018,  37.46639889,  85.74210515,  62.94663462,
        24.11265031, 128.26690705,  62.54728801,  85.00618858,
        82.6678982 ,  76.29052337,  42.22294661,  83.11441091,
        30.67664656,  76.19652893,  61.06277444,  92.67706799,
       102.07859941,  59.91752771, 102.55595826, 102.23169844,
        91.94344481, 104.31580738, 119.37292195,  46.00299984,
        69.77162784, 101.6981868 ,  80.44635913,  79.99833897,
        83.85802429,  28.13388397,  68.38641381,  48.75120695,
        65.43881653, 104.87054573,  75.67971892,  61.80843313,
        78.82763576, 108.11148999,  45.89366458,  68.53133405,
        53.16295528,  89.1164085 ,  74.39243769, 104.2701555 ,
        87.12716463,  40.58041398,  76.78446446, 122.04082431,
        43.46046211,  84.05472086,  86.00531095,  85.28056858,
       114.82615059,  40.28366502,  95.11684195,  62.243918  ,
        60.33466011, 128.34384885,  88.19488986,  70.35400034,
        67.34938063,  97.1081399 ,  85.2134474 , 107.69285991,
        56.76416748,  93.81748852,  89.66688119,  66.26904179,
        60.36525552,  60.75291015, 121.23490566,  66.92756314,
        77.77802757, 125.68765913,  68.39611242,  50.3786371 ,
        96.27496495,  81.52656733,  94.78807014,  68.65945397,
        84.20361894, 131.61085592, 115.55872605, 114.95044661,
        65.22935958,  69.78550565,  40.2971082 ,  54.01706954,
       101.97684726,  70.33017179,  44.46517099,  83.48862985,
        51.03049081,  71.89913599, 101.50985648, 108.70214352,
        65.72902656, 138.74480699,  84.26763587,  84.19635481,
        92.46270487,  47.41842716,  97.50072054,  89.84310583,
        58.62738562, 133.00722486,  78.16769135,   5.8950604 ,
        50.3559244 , 151.75358316,  89.40883226,  95.11631139,
        -2.61946377,  67.27893413,  64.05113793,  83.9118719 ,
        60.17659467,  92.49039698, 180.93622534,  71.57824587,
        51.05908269,  65.50600788,  59.14160784, 171.52992367,
        61.83848848,  70.78055278,  62.20316404,  59.00767132,
       126.69994002,  58.28696469,  79.53450783,  76.26440976,
       111.18852812, 113.96007621, 119.6427394 ,  63.62153438,
        79.99245502, 109.28450595,  32.41263467, 133.17842724,
        73.92002762,  56.31075287,  72.06111   ,  34.32673047,
        33.73921977,  78.39005841,  76.61624742,  59.23029701,
        60.39208687, 129.234926  ,  67.20201351,  39.81779778,
        64.45837962,  76.22155667, 114.078602  ,  97.04283127,
        51.47126912,  64.04614078, -12.80503469, 104.93639788,
        50.87526549,  98.12149976,  85.19366985,  85.81765161,
        32.5659123 , 108.1015615 ,  74.73250373,   0.32112578,
        41.9855797 ,  46.01857837, 119.43025685, 103.51979901,
        47.68593584, 135.70576951,  85.94366133, 100.55947757,
        56.15936469,  12.00585962,  88.12890459,  52.13798575,
        62.55830511,  95.32353281,  62.87251135, 126.79429598,
        53.86633976,  57.08748949,  80.6445949 , 101.25477253,
        57.77096995,  27.97276632,  71.76852677, 106.51063087,
       128.87859859,  47.12807348,  72.2775986 ,  36.24855917,
       145.34801746, 107.46974217,  45.61534644,  26.255693  ,
        49.82669247,  82.05493325,  99.515929  ,  65.07400532,
        67.43037103,  70.50491476,  88.19338529, 103.14823186,
        41.91202955,  84.41796743, 101.49912802, 116.51183488,
        84.46102331, 126.06198988,  86.67546062,  66.16890986,
        58.79008871,  97.0484119 ,  57.47775267,  14.49989173,
        73.95422877,  29.23785319,  61.84218614, 116.0706677 ,
        50.32887622,  32.56569463,  93.92894656,  80.2769492 ,
        83.23808653,  58.91724624,  62.01963274,  74.87665814,
        22.1319985 ,  45.92336681,  66.66104856,  42.86887977,
       108.61408172,  18.0937362 ,  82.75862731, 115.8666577 ,
        86.36449103, 108.08718654,  30.74676122,  53.38480486,
        48.83176128,  95.91422001,  77.74442949,  48.70495696,
       114.36829348,  83.80578721,  61.49995961,  89.57272669,
       119.53847761, 138.68479522,  60.29798697,  95.75720418,
       133.99483991,  61.23218135,  45.99774627, 104.09919185,
        58.85911242,  74.87108949,  86.36135496,  98.22772903,
        85.33820575,  66.78754936,  80.57003168,  92.32549411,
        -6.5240246 ,  61.10710834, 109.57107595,  61.59713423,
        97.4986769 ,  48.991773  ,  42.90316781, -20.58984602,
       130.72895178,  80.90830155,  42.32111647,  94.92635654,
        46.98254359,  68.11538866,  89.93260961,  35.74623939,
       104.92577212,   6.81908154, 103.36981324,  94.58511438,
       140.36530548, 118.37244072,  94.84485305,  50.60996042,
        37.02318439, 115.63128211,  59.60685345,  64.06489929,
        65.76891573, 163.79600223,  46.84340774,  58.75775254,
       116.61252577,  62.69176588,  92.9318951 ,  25.71295962,
       101.85543519, 141.66670584,  46.62026008,  65.20536021,
        57.22168973,   7.89555578,  61.18899604,  52.20428391,
        73.49788745,  77.56952355,  34.98311014,  88.97463195,
        57.14747922,  73.25346754,  91.47392274,  48.67314779,
        65.6237523 ,  59.13439856,  64.809571  ,  38.93179013,
       107.72459661,  65.97143725,  40.14269705,  86.97889842,
        66.30532342,  54.18463468,  53.83165046,  88.71204597,
        89.15633883,  84.47260248,  99.02702881,  85.56598389,
       123.23459053,  43.69144365,  54.82485038,  76.78768783,
        85.31822492, 123.10754012, 129.24450678, 146.2296985 ,
        79.70623394,  82.66688827,  24.23381648,  58.02307988,
        28.73247836, 107.29789371,  38.00277445,  31.07668652,
        18.53452157,  97.7888071 ,  82.71290106,  42.95481005,
        60.31584111, 114.38713596,  93.02753329,  57.72828584,
        66.47879245, 106.7578653 ,  59.27552551,  59.84732261,
        93.91343141,  33.40786947,  89.95133145,  73.03841511,
        74.56415394, 134.38246205, 130.4617509 ,  72.08848817,
        43.72938391,  42.28944941, 110.97472496,  68.20170185,
        53.25340501,  60.77315379,  34.96773295,  82.25370604,
        69.25620326, 128.18750863,  58.35669518,  23.11058679,
       102.94418536,  56.46934945, 149.29711926,  26.27291563,
        57.8926251 ,  73.89690521,  83.91019085,  82.8980067 ,
        67.51572051,  64.27973501,  94.5452016 , 106.76983759,
        -6.0691307 , 118.03246818,  53.9922253 ,  48.50319128,
        83.16713944,  72.13246503,  52.45613298, 135.9265819 ,
       113.50969161,  78.57390035,  52.68107197,  45.7332323 ,
        86.2289657 ,  78.85107627,  60.19010977,  33.7859448 ,
       107.38369412,  95.68606318,  93.45900972,  70.27653279,
        80.73974209,  86.43276911,  80.33523192,  47.82606467,
        63.08036181, 105.57742737,  74.99506265,  10.25044966,
        49.90233806,  76.17984725,  72.4409951 ,  55.35502648,
        31.64645467,  52.24466418,  88.34271041,  58.9093248 ,
        50.53453149,  60.53509405,  42.56934239,  44.6650801 ,
        58.34252905,  67.54705872,  71.39983349,  73.7318131 ,
        18.83238094, 129.13593122,  46.84844738, 115.23738387,
        50.3744369 ,  61.30819534,  78.80046074, 114.09466638,
        86.53215197,  38.48754919,  95.23754359,  63.08318721,
        90.05163298,  55.92280764,  90.3965818 ,  66.6865344 ,
       107.7195339 ,  56.58405268,  82.28905837,  83.67082719,
       111.63779221,  53.53698505,  75.89362928,  88.1430332 ,
        99.08709839,  73.57266777, 103.96816267, 111.9685783 ,
        50.7535521 ,  83.23109719, 125.64245126,  92.78073756,
        51.22778019,  35.57644521,  27.00169365,  90.17396547,
        86.06876372,  42.37952903,  69.21069842,  92.62659535,
       108.24051484,  65.62398848,  45.70015972,  35.36739415,
        -5.37576394, 134.41276626,  81.61233708,  82.39986957,
        16.58479573,  56.76338876, 118.43749006,  92.99217433,
        41.84058706,  44.65612645,  89.94393065,  62.78575463,
        37.39865396,  98.68008125,  98.81322947, 126.73947841,
        82.164169  ,  84.11089503,  63.85981701,  13.70736204,
        86.26981067,  67.50089186,  27.70245915,  72.98331851,
        28.78424059,   9.57345108,  96.58957042,  62.55154796,
        58.43681154,  71.92507209, 121.3430832 ,  79.94942342,
        94.65350839,  85.72455426,  77.04387683,  44.67250325])

In [26]:
stats.ttest_rel(atk,dfs)

Ttest_relResult(statistic=1.9460613158633708, pvalue=0.051997632814681866)

Describe the results of the test in the cell below.

In [27]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [28]:
# Your code here:
sp_a = pokemon['Sp. Atk'].tolist()
mean_spa =np.mean(sp_a)

sp_d = pokemon['Sp. Def'].tolist()
mean_spd = np.mean(sp_d)

In [29]:
from scipy.stats import ttest_ind
ttest_ind(sp_a,sp_d)

Ttest_indResult(statistic=0.6041290031014401, pvalue=0.5458436328840358)

Describe the results of the test in the cell below.

In [30]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [43]:
# Your code here:
    
pokemon

attack = pokemon['Attack']

defense = pokemon['Defense']


test_a =  ttest_1samp(attack, 0 )
test_a

Ttest_1sampResult(statistic=68.84393492906322, pvalue=0.0)

In [42]:
test_b =  ttest_1samp(defense, 0 )
test_b

Ttest_1sampResult(statistic=66.97712771588154, pvalue=0.0)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [32]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [33]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [34]:
# Your answer here: