# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import scipy.stats as stats
import numpy as np
import pandas as pd
import os

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
pokemon = pd.read_csv('/Users/andresantaclara/Desktop/IronHack/Week5/Day4/lab-two-sample-hypothesis-tests/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [25]:
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [29]:
# Your code here:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [93]:
#Legendary...    GET_GROUP!

legendary = pokemon.groupby("Legendary").get_group(True)
legendary_array = np.array(legendary["Total"])
legendary_mean = np.mean(legendary_array)
legendary_std = np.std(legendary_array)
legendary_var = np.var(legendary_array)

print(legendary_mean)
print(legendary_std)
print(legendary_var)

637.3846153846154
60.46682302213779
3656.236686390532

In [94]:
#Nonlegendary

nonlegendary = pokemon.groupby("Legendary").get_group(False)
nonlegendary_array = np.array(nonlegendary["Total"])
nonlegendary_mean = np.mean(nonlegendary_array)
nonlegendary_std = np.std(nonlegendary_array)
nonlegendary_var = np.var(nonlegendary_array)

print(nonlegendary_mean)
print(nonlegendary_std)
print(nonlegendary_var)

417.21360544217686
106.68776660321979
11382.279542783099

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [98]:
stats.ttest_ind(legendary_array,nonlegendary_array)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [114]:
# A very LOW p-value means that such an extreme observed outcome
# would be very unlikely under the null hypothesis.
# Thus, legendary pokemon have more points than normal pokemon!

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [113]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [111]:
water = pokemon[pokemon["Type 1"] == "Water"]
water_array = np.array(water["Total"])
mean_water = np.mean(water_array)
std_water = np.std(water_array)
print(mean_water)
print(std_water)

430.45535714285717
112.681828329091

In [112]:
notwater = pokemon[pokemon["Type 1"] != "Water"]
notwater_array = np.array(notwater["Total"])
mean_notwater = np.mean(notwater_array)
std_notwater = np.std(notwater_array)
print(mean_notwater)
print(std_notwater)

435.85901162790697
121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [115]:
stats.ttest_ind(water_array,notwater_array)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [125]:
# Your conclusions here:
# A very high p-value means that such an extreme observed outcome
# would be very likely under the null hypothesis.
# Thus, water pokemon arent very different from other types.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [141]:
defense = pokemon["Defense"]
defense = np.array(defense)
d_mean = np.mean(defense)
d_std = np.std(defense)
d_var = np.mean(defense)

In [142]:
attack = pokemon["Attack"]
attack = np.array(attack)
a_mean = np.mean(attack)
a_std = np.std(attack)
a_var = np.mean(attack)

In [143]:
from scipy import stats

In [144]:
stats.ttest_rel(attack,defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# The test shows that attack and defense are very different

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [131]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [133]:
# Your code here:

defense = pokemon["Sp. Def"]
defense = np.array(defense)
d_mean = np.mean(defense)
d_std = np.std(defense)
d_var = np.mean(defense)

attack = pokemon["Sp. Atk"]
attack = np.array(attack)
a_mean = np.mean(attack)
a_std = np.std(attack)
a_var = np.mean(attack)

stats.ttest_rel(attack,defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Special defense and special attack on the other hand do not show differences

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [145]:
deffense_attack_together = pd.Series(np.concatenate([defense, attack])) 

defense_attack_mean = np.mean(deffense_attack_together)

defense_attack_sample = deffense_attack_together.sample(n=20)

stats.ttest_1samp(a=defense_attack_sample, popmean=defense_attack_mean)

Ttest_1sampResult(statistic=0.505744667802052, pvalue=0.618853057503769)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: