# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [21]:
pokemon.groupby("Legendary")["Total"].describe()[["mean","std"]]

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

In [23]:
# can also be computed separately

print(pokemon.groupby("Legendary")["Total"].mean(),"\n")
print(pokemon.groupby("Legendary")["Total"].std())

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [32]:
#Let's put legendary and non-legendary points in separate variables
legendary = pokemon[pokemon["Legendary"]==True]["Total"]
non_legendary = pokemon[pokemon["Legendary"]==False]["Total"]

In [33]:
# variances are not equal
# stats.ttest_ind(sampleA, sampleB, equal_var)
# H0: mean legendary == mean non-legendary

stats.ttest_ind(legendary, non_legendary, equal_var=False)

# looking at the p-value and taking a confidence level of 95%, the H0 can be rejected 
# meaning that the means ARE DIFFERENT
# the Welch's t-score obtained indicates that it falls on the positive side of the distribution 
# the distribution is plotted computing the differences between samples in this case (leg - non_leg)
# therefore the score tells that the legendary mean is a lot higher than the non-legendary

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
'''
Looking at the p-value and taking a confidence level of 95%, the H0 can be rejected 
meaning that the means ARE DIFFERENT.
The Welch's t-score obtained indicates that it falls on the positive side of the distribution, 
distribution that is plotted computing the differences between the samples, in this case (leg - non_leg).
Therefore the score tells us that the legendary mean is a lot higher than the non-legendary
'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [40]:
# Your code here:
pokemon["Type 1"].value_counts().index #if we just want the types
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [55]:
#Let's have a look at all the pokemon groups means and std from Type 1

pokemon.groupby("Type 1")["Total"].describe()[["mean","std"]]

                mean         std
Type 1
Bug       378.927536  117.875223
Dark      445.741935  109.126217
Dragon    550.531250  146.267538
Electric  443.409091  105.721952
Fairy     413.176471  123.781680
Fighting  416.444444  102.464378
Fire      458.076923  109.760496
Flying    485.000000  161.400124
Ghost     439.562500  110.072685
Grass     421.142857  106.650626
Ground    437.500000  123.913081
Ice       433.458333  108.281027
Normal    401.683673  115.733038
Poison    399.142857   92.358687
Psychic   475.947368  139.026645
Rock      453.750000  108.059227
Steel     487.703704  115.420907
Water     430.455357  113.188266

In [53]:
#Now let's look at the mean and std of water type points (True) vs the mean and std of all the other types (False)
pokemon.groupby(pokemon["Type 1"]=="Water")["Total"].describe()[["mean","std"]]

              mean         std
Type 1
False   435.859012  121.091682
True    430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [59]:
#let's put the info in separate variables
water = pokemon[pokemon["Type 1"]=="Water"]["Total"]
non_water = pokemon[pokemon["Type 1"]!="Water"]["Total"]

In [61]:
# We want to see if the variance in means is significantly different or not
# H0: μ_water = μ_non-water

# to compare the means we need to again use a two sample t-test:
# stats.ttest_ind(sampleA,sampleB, equal_var)
# since it is not specified, we assume that the variances are different (hence Welch's t-test is needed)

stats.ttest_ind(water,non_water, equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

In [10]:
# looking at the p-value, we can see that it is NOT below 0.05 
# which is the confidence level (95%) that we were looking for.

#Therefore, we can conclude that there is not enough statistical evidence to refuse the H0

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [63]:
# Let's put the info in separate values

attack = pokemon["Attack"]
defense = pokemon["Defense"]

In [64]:
#perform the 2 sample t-test
#stats.ttest_rel(sampleA,sampleB)

stats.ttest_rel(attack,defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
'''
The H0 indicated that attack scores = defense scores, 
nontheless, since p-value<0.05 (confidence level of 95%)
we can refuse the H0 and say that the scores are different.
Looking at the t-score we can say that the mean attack scores is larger.
'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [69]:
# having a look to get the names right (spaces are not cool and very confusing!):
pokemon.head(1)
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [70]:
# Let's put the info in separate values

sp_attack = pokemon["Sp. Atk"]
sp_defense = pokemon["Sp. Def"]

In [71]:
#perform the 2 sample t-test
#stats.ttest_rel(sampleA,sampleB)

stats.ttest_rel(sp_attack,sp_defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
'''
H0: special attack scores = special defense scores
Taking a confidence level of 95% and seeing that the p-value is higher than 0.05,
we can conclude that there is not enough statistical evidence to refuse the null hypothesis (Ho)
'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [72]:
#sample = special attack scores - special defense scores
# Ho: μ(sp_attack-sp_defense) = 0  --> same as saying that μ_sp_attack = μ_sp_defense
# stats.ttest_1samp (a, popmean)
    
stats.ttest_1samp (sp_attack-sp_defense, 0) 

# we can observe that the results obtain are the same
# which makes sense because it is the same that the 2 sample t-test does to calculate t-score and p-value

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# H0: there is a relationship between being or not Legendary and being or not a water type 
#     (they are not independent)

In [75]:
cont_table = pd.crosstab(pokemon["Legendary"],pokemon["Type 1"]=="Water")

#Type 1 True --> water type
#Type 1 False --> non-water type

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [76]:
# stats.chi2_contingency (observed)   observed-->contingency table
'''
returns:

chi2 (float) --> The test statistic.
p (float) --> The p-value of the test
dof (int) --> Degrees of freedom
expected (ndarray, same shape as observed) --> The expected frequencies, based on the marginal sums of the table.

'''

stats.chi2_contingency (cont_table)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Looking at the p-value (>0.05), there is not enough statistical evidence to refuse the H0
# That means that there is not enough evidence to say that 
# being or not legendary and being or not water type are independent