# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [15]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
regular = pokemon[~pokemon["Legendary"]]
legendary = pokemon[pokemon["Legendary"]]

In [8]:
legendary.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [13]:
reg_mean = regular["Total"].mean()
leg_mean = legendary["Total"].mean()

reg_std = regular["Total"].std()
leg_std = legendary["Total"].std()

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [16]:
stats.ttest_ind(regular["Total"],legendary["Total"], equal_var = False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# We reject the H0, the means are different

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [18]:
types = pokemon["Type 1"].value_counts()

In [30]:
types

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [23]:
types_df = types.reset_index()

In [26]:
types_df.columns

Index(['index', 'Type 1'], dtype='object')

In [29]:
types_ls = list(types_df["index"])

In [49]:
means = []
stds = []

for type_1 in types_ls:
    mean = pokemon[pokemon["Type 1"] == type_1]["Total"].mean()
    std = pokemon[pokemon["Type 1"] == type_1]["Total"].std()
    means.append(mean)
    stds.append(std)

In [50]:
pokemon_dict = {"Type": types_ls,
               "Mean": means,
               "Std": stds}

In [51]:
water_vs = pd.DataFrame(pokemon_dict)

In [52]:
water_vs

        Type        Mean         Std
0      Water  430.455357  113.188266
1     Normal  401.683673  115.733038
2      Grass  421.142857  106.650626
3        Bug  378.927536  117.875223
4    Psychic  475.947368  139.026645
5       Fire  458.076923  109.760496
6       Rock  453.750000  108.059227
7   Electric  443.409091  105.721952
8     Ground  437.500000  123.913081
9      Ghost  439.562500  110.072685
10    Dragon  550.531250  146.267538
11      Dark  445.741935  109.126217
12    Poison  399.142857   92.358687
13     Steel  487.703704  115.420907
14  Fighting  416.444444  102.464378
15       Ice  433.458333  108.281027
16     Fairy  413.176471  123.781680
17    Flying  485.000000  161.400124

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [54]:
p_value = []

for type_1 in types_ls:
    x, y = stats.ttest_ind(pokemon[pokemon["Type 1"] == "Water"]["Total"],pokemon[pokemon["Type 1"] == type_1]["Total"]) 
    p_value.append(y)

In [55]:
pokemon_dict_f = {"Type": types_ls,
               "p-value": p_value}

In [56]:
water_vs_f = pd.DataFrame(pokemon_dict_f)

In [57]:
water_vs_f

        Type   p-value
0      Water  1.000000
1     Normal  0.070422
2      Grass  0.581639
3        Bug  0.003855
4    Psychic  0.023681
5       Fire  0.144019
6       Rock  0.243290
7   Electric  0.513443
8     Ground  0.761586
9      Ghost  0.686963
10    Dragon  0.000002
11      Dark  0.503623
12    Poison  0.177845
13     Steel  0.020189
14  Fighting  0.557826
15       Ice  0.905598
16     Fairy  0.563364
17    Flying  0.352070

Write your conclusion below.

In [62]:
list(water_vs_f[water_vs_f["p-value"]<0.05]["Type"])

#This types have statistically different total points

['Bug', 'Psychic', 'Dragon', 'Steel']

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [63]:
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [64]:
stats.ttest_rel(pokemon["Attack"], pokemon["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Attack and defense are statistically different

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [65]:
stats.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# This stats are not different

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [73]:
stats.ttest_1samp(a = pokemon["Attack"]-pokemon["Defense"], popmean = 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: