# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import scipy.stats as stats
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemoncount=pokemon.Legendary.value_counts()
pokemoncount

False    735
True      65
Name: Legendary, dtype: int64

In [24]:
legendary=pokemon[pokemon["Legendary"] == False]
legendarypoints=legendary["Total"]
nonlegendary=pokemon[pokemon["Legendary"] == True]
nonlegendarypoints=nonlegendary["Total"]

nonlegendarypoints

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [10]:
# Your code here:
legendary_mean=np.mean(legendary["Total"])
legendary_std=np.std(legendary["Total"])
nonlegendary_mean=np.mean(nonlegendary["Total"])
nonlegendary_std=np.std(nonlegendary["Total"])
print(legendary_mean)
print(legendary_std)
print(nonlegendary_mean)
print(nonlegendary_std)

417.21360544217686
106.68776660321996
637.3846153846154
60.46682302213781

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [25]:
# Your code here:
stats.ttest_ind(legendarypoints,nonlegendarypoints,equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [30]:
# Your code here:
pokemon_type1=pokemon["Type 1"]
pokemon_type1.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [35]:
# Your code here:
pokemon_water=pokemon[pokemon["Type 1"]=="Water"]
pokemon_water_points=pokemon_water["Total"]
pokemon_water_mean=np.mean(pokemon_water["Total"])
pokemon_water_std=np.std(pokemon_water["Total"])
pokemon_all=pokemon[pokemon["Type 1"]!="Water"]
pokemon_all_points=pokemon_all["Total"]
pokemon_all_mean=np.mean(pokemon_all["Total"])
pokemon_all_std=np.std(pokemon_all["Total"])


print(pokemon_water_mean)
print(pokemon_water_std)
print(pokemon_all_mean)
print(pokemon_all_std)

430.45535714285717
112.68182832909096
435.85901162790697
121.00364762501167

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [36]:
# Your code here:
stats.ttest_ind(pokemon_water_points,pokemon_all_points)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [41]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [44]:
# Your code here:
pokemon_attack=pokemon["Attack"]
pokemon_defense=pokemon["Defense"]
stats.ttest_rel(pokemon_attack,pokemon_defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:


As the pvalue < than 0.05 we must reject the null hypothesis that there is no significant difference between sp attack and sp defense mean and the accept the alternative hypothesis that states that there is a significat difference

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [51]:
# Your code here:
pokemon_spattack=pokemon["Sp. Atk"]
pokemon_spdefense=pokemon["Sp. Def"]
stats.ttest_rel(pokemon_spattack,pokemon_spdefense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:
As the pvalue > than 0.05 we can accpet the null hypothesis that there is no significant difference between sp attack and sp defense mean

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

0.9175

In [57]:
# Your code here:
sample=pokemon_spattack-pokemon_spdefense
stats.ttest_1samp(a=sample,popmean=0.9175)

Ttest_1sampResult(statistic=0.0, pvalue=1.0)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: