# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

pokemon["Legendary"].value_counts().reset_index()

   index  Legendary
0  False        735
1   True         65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:

pokemon.groupby("Legendary")["Total"].describe()

           count        mean         std    min    25%    50%    75%    max
Legendary
False      735.0  417.213605  106.760417  180.0  324.0  425.0  498.0  700.0
True        65.0  637.384615   60.937389  580.0  580.0  600.0  680.0  780.0

In [7]:
pokemon.loc[pokemon["Legendary"] ==True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [8]:
legend_pk=pokemon.loc[pokemon["Legendary"] ==False]
normal_pk=pokemon.loc[pokemon["Legendary"] ==True]

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [9]:
# Your code here:
from scipy.stats import ttest_ind
ttest1=ttest_ind(normal_pk["Total"], legend_pk["Total"], equal_var=False)
ttest1

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [10]:
# Your conclusions here:

print("The probability that both samples belonging to the same population is",ttest1[1],". We cannot assume that both populations, legend and normal belong to the same group. We reject H0.")

The probability that both samples belonging to the same population is 9.357954335957446e-47 . We cannot assume that both populations, legend and normal belong to the same group. We reject H0.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
# Your code here:

pokemon["Type 1"].value_counts().reset_index()

       index  Type 1
0      Water     112
1     Normal      98
2      Grass      70
3        Bug      69
4    Psychic      57
5       Fire      52
6       Rock      44
7   Electric      44
8     Dragon      32
9     Ground      32
10     Ghost      32
11      Dark      31
12    Poison      28
13  Fighting      27
14     Steel      27
15       Ice      24
16     Fairy      17
17    Flying       4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [12]:
#create a df without water pokemons and one only with water pokemons:
dry_pk=pokemon.loc[pokemon['Type 1'] != "Water"]
dry_pk.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [13]:
wet_pk=pokemon.loc[pokemon['Type 1'] == "Water"]
wet_pk.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

In [14]:
dry_pk["Total"].describe()

count    688.000000
mean     435.859012
std      121.091682
min      180.000000
25%      330.000000
50%      450.000000
75%      515.000000
max      780.000000
Name: Total, dtype: float64

In [15]:
wet_pk["Total"].describe()

count    112.000000
mean     430.455357
std      113.188266
min      200.000000
25%      328.750000
50%      455.000000
75%      502.250000
max      770.000000
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [16]:
# Your code here:
#H0: water pokemons and the rest have the same total points value
#H1: water and dry pokemons have different total values 
ttest_2=ttest_ind(dry_pk["Total"],wet_pk["Total"])
ttest_2

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [18]:
# Your conclusions here:

print("The resutls show us that the two groups, water pokemons, and the rest, have a ", round(ttest_2[1]*100),"% change to come from the same population")
print("We cannot reject H0, both groups (wet and dry pokemons) come from the same population")

The resutls show us that the two groups, water pokemons, and the rest, have a  66 % change to come from the same population
We cannot reject H0, both groups (wet and dry pokemons) come from the same population

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [19]:
# Your code here:

from scipy.stats import ttest_rel
#ttest_rel(a, b, axis=0, nan_policy='propagate')
#Calculate the t-test on TWO RELATED samples of scores, a and b.
#This is a two-sided test for the null hypothesis that 2 related or
#repeated samples have identical average (expected) values.

In [20]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [21]:
pokemon["Attack"].describe()

count    800.000000
mean      79.001250
std       32.457366
min        5.000000
25%       55.000000
50%       75.000000
75%      100.000000
max      190.000000
Name: Attack, dtype: float64

In [22]:
pokemon["Defense"].describe()

count    800.000000
mean      73.842500
std       31.183501
min        5.000000
25%       50.000000
50%       70.000000
75%       90.000000
max      230.000000
Name: Defense, dtype: float64

In [23]:
ttest_3=ttest_rel(pokemon["Attack"], pokemon["Defense"])
ttest_3

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [24]:
# Your conclusions here:
print("The resutls show us that the two groups, attack and defense scores, have a ", round(ttest_3[1]*100, 6),"% change to come from the same population")
print("We reject H0, attack and defense come from different populations")

The resutls show us that the two groups, attack and defense scores, have a  0.001714 % change to come from the same population
We reject H0, attack and defense come from different populations

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [25]:
# Your code here:

ttest_4=ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])
ttest_4

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [27]:
# Your conclusions here:

print("The resutls show us that the two groups, special attack and special defense secores, have a ", round(ttest_4[1]*100),"% change to come from the same population")
print("We cannot reject H0, as the p value ",ttest_4[1]," is larger than our 0.05 alpha. Both groups, special attack and special defense, come from the same population")

The resutls show us that the two groups, special attack and special defense secores, have a  39 % change to come from the same population
We cannot reject H0, as the p value  0.3933685997548122  is larger than our 0.05 alpha. Both groups, special attack and special defense, come from the same population

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [28]:
# Your code here:
    
from scipy.stats import ttest_1samp
#Signature: ttest_1samp(a, popmean, axis=0, nan_policy='propagate')
#Docstring:
#Calculate the T-test for the mean of ONE group of scores.

#This is a two-sided test for the null hypothesis that the expected value
#(mean) of a sample of independent observations `a` is equal to the given
#population mean, `popmean`.

ttest_5=ttest_1samp(a=((pokemon["Attack"])-(pokemon["Defense"])), popmean=0)
ttest_5

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [30]:
# Your conclusions here:

print("We reject H0, as the p value ",ttest_5[1]," is smaller than our 0.05 alpha.")
print("By accepting H1 we assume the means of attack and defense are different. ")

We reject H0, as the p value  1.7140303479358558e-05  is smaller than our 0.05 alpha.
By accepting H1 we assume the means of attack and defense are different.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: