# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [25]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:
import getpass
from sqlalchemy import create_engine
import pymysql

In [7]:
driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:'"")
ip = '127.0.0.1'

connection_string = f'{driver}://{user}:{password}@{ip}'
db_connection = create_engine(connection_string)

Your password:········

In [8]:
pokemon = pd.read_sql_query('SELECT * FROM pokemon.pokemon_stats;', db_connection)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False

Let's start off by looking at the `head` function in the cell below.

In [10]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [12]:
# True = Legendary; False = Non Legendary
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [19]:
pokemon_leg = list(pokemon.loc[pokemon.Legendary=="True"]["Total"])
pokemon_non_leg = list(pokemon.loc[pokemon.Legendary=="False"]["Total"])

In [22]:
# pokemon legendary
print(np.mean(pokemon_leg))
print(np.std(pokemon_leg))

637.3846153846154
60.46682302213779

In [24]:
# pokemon non legendary
print(np.mean(pokemon_non_leg))
print(np.std(pokemon_non_leg))

417.21360544217686
106.68776660321979

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [26]:
stats.ttest_ind(a=pokemon_leg, b=pokemon_non_leg, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [27]:
"""The p-value≈0 < 0.05, thus we can reject the null hypothesis
that the average total points for legendary and noon-legendary pokemons are equal."""

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [30]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [33]:
pokemon_water = list(pokemon.loc[pokemon["Type 1"]=="Water"]["Total"])
pokemon_non_water = list(pokemon.loc[pokemon["Type 1"]!="Water"]["Total"])

In [34]:
# water Pokemon
print(np.mean(pokemon_water))
print(np.std(pokemon_water))

430.45535714285717
112.681828329091

In [35]:
# all other Pokemon
print(np.mean(pokemon_non_water))
print(np.std(pokemon_non_water))

435.85901162790697
121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [36]:
stats.ttest_ind(a=pokemon_water, b=pokemon_non_water)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [37]:
"""the p-value=0.65 > 0.05, therefore we cannot reject the null hypothesis 
that the avg total points for water Pokemons and all other Pokemons are the same, 
at a 95% confidence level"""

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [41]:
# Your code here:
defense = list(pokemon.Defense)
attack = list(pokemon.Attack)

stats.ttest_rel(a=defense, b=attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
"""The p-value≈0 < 0.05, thus we can reject the null hypothesis
that defense and attack scores are equal"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [45]:
sp_defense = list(pokemon["Sp. Def"])
sp_attack = list(pokemon["Sp. Atk"])

stats.ttest_rel(a=sp_defense, b=sp_attack)

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
"""The p-value=0.39 > 0.05, thus we cannot reject the null hypothesis
that the average scores of special attack and special defense are equal"""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [52]:
diff_sp_scores = list(pokemon["Sp. Def"]-pokemon["Sp. Atk"])
stats.ttest_1samp(a=diff_sp_scores, popmean=0)

Ttest_1sampResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: